In [1]:
# Import our dependencies.
import pandas as pd
import gmaps
import requests

# Import API Key
from config import g_key

In [2]:
# Import and read CSV into DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Laguna,US,2020-12-17 04:10:09,38.42,-121.42,53.01,81,90,7.14
1,1,Isangel,VU,2020-12-17 04:10:40,-19.55,169.27,84.20,58,75,5.82
2,2,Cape Town,ZA,2020-12-17 04:08:24,-33.93,18.42,66.00,77,0,16.11
3,3,Tiksi,RU,2020-12-17 04:08:19,71.69,128.87,-16.26,89,100,2.59
4,4,Mar Del Plata,AR,2020-12-17 04:11:25,-38.00,-57.56,60.80,55,0,6.93

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure Gmaps to use the API Key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Isangel,VU,2020-12-17 04:10:40,-19.55,169.27,84.20,58,75,5.82
7,7,Atuona,PF,2020-12-17 04:12:39,-9.80,-139.03,78.57,78,11,21.79
11,11,Kanniyakumari,IN,2020-12-17 04:13:30,8.08,77.57,80.92,76,0,18.99
17,17,Faanui,PF,2020-12-17 04:14:27,-16.48,-151.75,80.76,78,100,19.51
18,18,Carnarvon,AU,2020-12-17 04:14:28,-24.87,113.63,80.60,61,40,20.80
23,23,Vaini,TO,2020-12-17 04:14:29,-21.20,-175.20,80.60,74,75,9.17
36,36,Saint-Philippe,RE,2020-12-17 04:14:33,-21.36,55.77,84.20,62,0,3.36
37,37,Georgetown,MY,2020-12-17 04:11:05,5.41,100.34,82.40,83,20,3.36
39,39,Rikitea,PF,2020-12-17 04:14:33,-23.12,-134.97,76.95,75,4,10.74
43,43,Pangai,TO,2020-12-17 04:14:34,-19.80,-174.35,77.00,88,90,9.17

In [12]:
preferred_cities_df.count()

# Use this line to drop any null values.
# preferred_cities_df.count().dropna()

City_ID       118
City          118
Country       117
Date          118
Lat           118
Lng           118
Max Temp      118
Humidity      118
Cloudiness    118
Wind Speed    118
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
1          Isangel      VU     84.20 -19.55  169.27
7           Atuona      PF     78.57  -9.80 -139.03
11   Kanniyakumari      IN     80.92   8.08   77.57
17          Faanui      PF     80.76 -16.48 -151.75
18       Carnarvon      AU     80.60 -24.87  113.63
23           Vaini      TO     80.60 -21.20 -175.20
36  Saint-Philippe      RE     84.20 -21.36   55.77
37      Georgetown      MY     82.40   5.41  100.34
39         Rikitea      PF     76.95 -23.12 -134.97
43          Pangai      TO     77.00 -19.80 -174.35

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Isangel,VU,84.20,-19.55,169.27,Volcano Sea View Tree House
7,Atuona,PF,78.57,-9.80,-139.03,Villa Enata
11,Kanniyakumari,IN,80.92,8.08,77.57,Sparsa
17,Faanui,PF,80.76,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
18,Carnarvon,AU,80.60,-24.87,113.63,Hospitality Carnarvon
23,Vaini,TO,80.60,-21.20,-175.20,Keleti Beach Resort
36,Saint-Philippe,RE,84.20,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
37,Georgetown,MY,82.40,5.41,100.34,Cititel Penang
39,Rikitea,PF,76.95,-23.12,-134.97,Pension Maro'i
43,Pangai,TO,77.00,-19.80,-174.35,Ha'apai Beach Resort

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))