In [41]:
# Import our dependencies.
import pandas as pd
import gmaps
import requests

# Import API Key
from config import g_key

In [42]:
# Import and read CSV into DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2020-12-16 04:46:52,-23.12,-134.97,78.31,65,36,3.47
1,1,Punta Arenas,CL,2020-12-16 04:46:52,-53.15,-70.92,48.20,66,0,34.45
2,2,Arraial Do Cabo,BR,2020-12-16 04:42:55,-22.97,-42.03,75.02,94,100,6.62
3,3,Hithadhoo,MV,2020-12-16 04:46:52,-0.60,73.08,81.72,71,22,10.27
4,4,Mariental,NaN,2020-12-16 04:46:53,-24.63,17.97,75.20,14,0,2.24

In [43]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [44]:
# Configure Gmaps to use the API Key.
gmaps.configure(api_key=g_key)

In [45]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [46]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# Heatmap of Wind Speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [52]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2020-12-16 04:46:52,-23.12,-134.97,78.31,65,36,3.47
2,2,Arraial Do Cabo,BR,2020-12-16 04:42:55,-22.97,-42.03,75.02,94,100,6.62
3,3,Hithadhoo,MV,2020-12-16 04:46:52,-0.60,73.08,81.72,71,22,10.27
4,4,Mariental,NaN,2020-12-16 04:46:53,-24.63,17.97,75.20,14,0,2.24
6,6,Hambantota,LK,2020-12-16 04:46:53,6.12,81.12,84.20,79,20,4.70
7,7,Larap,PH,2020-12-16 04:46:53,14.30,122.65,83.12,73,51,12.01
9,9,Atuona,PF,2020-12-16 04:46:54,-9.80,-139.03,79.00,77,9,19.42
13,13,Kapaa,US,2020-12-16 04:46:55,22.08,-159.32,78.80,78,40,11.41
22,22,Bundaberg,AU,2020-12-16 04:42:11,-24.85,152.35,89.60,55,40,11.41
32,32,Souillac,MU,2020-12-16 04:46:59,-20.52,57.52,80.60,83,40,16.11

In [53]:
preferred_cities_df.count()

# Use this line to drop any null values.
# preferred_cities_df.count().dropna()

City_ID       143
City          143
Country       142
Date          143
Lat           143
Lng           143
Max Temp      143
Humidity      143
Cloudiness    143
Wind Speed    143
dtype: int64

In [54]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
0           Rikitea      PF     78.31 -23.12 -134.97
2   Arraial Do Cabo      BR     75.02 -22.97  -42.03
3         Hithadhoo      MV     81.72  -0.60   73.08
4         Mariental     NaN     75.20 -24.63   17.97
6        Hambantota      LK     84.20   6.12   81.12
7             Larap      PH     83.12  14.30  122.65
9            Atuona      PF     79.00  -9.80 -139.03
13            Kapaa      US     78.80  22.08 -159.32
22        Bundaberg      AU     89.60 -24.85  152.35
32         Souillac      MU     80.60 -20.52   57.52

In [64]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [66]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,78.31,-23.12,-134.97,Pension Maro'i
2,Arraial Do Cabo,BR,75.02,-22.97,-42.03,Pousada Porto Praia
3,Hithadhoo,MV,81.72,-0.60,73.08,Scoop Guest House
4,Mariental,NaN,75.20,-24.63,17.97,Mariental Hotel
6,Hambantota,LK,84.20,6.12,81.12,Bungalow 63
7,Larap,PH,83.12,14.30,122.65,Montemayor Cove
9,Atuona,PF,79.00,-9.80,-139.03,Villa Enata
13,Kapaa,US,78.80,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
22,Bundaberg,AU,89.60,-24.85,152.35,Takalvan Motel
32,Souillac,MU,80.60,-20.52,57.52,Bils' Villa

In [67]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [68]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [70]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [71]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]